<div class="color-box">
  <div class="column-box">
    <div ng-show="students.length">
      <div ng-show="signedInStudents.length">
        <h2><em>Here</em></h2>
        <ul>
          <li ng-repeat="item in signedInStudents = (students | filter: {signedIn: true})">
            {{ item.name }}
          </li>
        </ul>

        <h2><em>Not here</em></h2>
        <ul>
          <li ng-repeat="item in signedInStudents = (students | filter: {signedIn: !true})">
            {{ item.name }}
        </ul>
      </div>
    </div>
  </div>
</div>
