<div ng-show="students.length">
  <a ui-sref="roster">Who's here?</a>
  <h2>Sign In or Sign Out:</h2>
    <div ng-repeat = "item in students">
      <ul>
        <li>{{ item.name }}
          <div ng-hide="item.signedIn">
            <button type="button" ng-click="signInStudent(item)">Sign In</button>
          </div>
          <div ng-hide="!item.signedIn">
            <button type="button" ng-click="signOutStudent(item)">Sign Out</button>
          </div>
        </li>
      </ul>
    </div>
</div>
